parameters:
    paths:
        - src
        - tests

    level: max

    ignoreErrors:
        - '#^Trait TTBooking\\UniQuery\\Buildable is used zero times and is not analysed\.$#'
        - '#^Call to method PHPUnit\\Framework\\Assert::assertTrue\(\) with true will always evaluate to true\.$#'
